.habit-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 60, 90);
  border-radius: 5px;
  height: 100px;
}

.information {
  width: 80%;
  text-align: left;
}

.habit-name {
  background-color: rgb(151, 177, 201);
  height: 30px;
  padding-left: 10px;
}

.habit-description {
  background-color: rgb(51, 110, 110);
  height: 70px;
  padding-left: 10px;
}

.goals-settings {
  display: flex;
  align-items: center;
}

.goal {
  display: flex;
  align-items: center;
}

.goal-quantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goal-quantity button {
  height: 40px;
}

.goal-quantity button img {
  height: 20px;
}

.habit-settings {
  height: 20px;
}
